.p_login_top a img {
    display: block !important;
    width:170px !important;
    height:40px !important;
    max-width: 200px !important;
}
div.p_login .p_login_top a {
    background-image: none, url("../../../../custom/themes/SuiteP/images/custom-logo.jpg") !important;
}
